
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  /*font-family: 'Lora', serif;*/
  /*font-family: "Montserrat", serif;*/
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#titulo, #datosUsuario,#tienda, #info{
    font-family: 'Lora', serif;
}
#subtitulo, button[type='submit'],#menuDinamico{
    font-family: "Montserrat", serif;
}
#link{color:#03111b;}
#link:hover{font-weight: bold;}
:root {
    color-scheme: light dark;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    text-align: center; 
}

.contenedor{
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    margin: 0 auto; /* Centra la tabla en la página */
}

/***************************************MENU DINAMICO********************************************/
#menuDinamico{background-color:white;font: weight 200px;}
#menuDinamico ul li a:hover{font-weight: bold;}
#menuDinamico ul li a:active{font-weight: bold;}

nav {
    color: rgb(195, 204, 195);
}

h2 {
  text-align: center;
  color: #001f36;

}

h3 {
    text-align: center;
}

/* TABLA */
td , th {
    padding: 10px;
}

tr {
    transition: background-color .3s
}
tr:hover { 
    background-color: #60a3bc;
    color: #fff;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin:0 auto;
    align-self: center;
    cursor: pointer;

}

table thead {
    background-color: #0a3d62;
    color: #fff;
    border: 1px solid #fff;

}

table tbody { 
    background-color: #d0e9fc;
    border: 1px solid #fff;

}

/*IMAGEN INICIO*/
img {
    width: "50px";
    height: "50px";  
}
#tienda  {
    letter-spacing:1px ;
    border-radius: 3rem;
    padding:10px; 
    margin:590px 100px;
    width:600px; 
    background-color:rgba(211, 211, 211, 0.479);
    border:none;
    color: #001220}

#tienda:hover {
    background-color: #0012206e;
    color: #ffffff;
    font-weight: bold;}

#info { 
    background-color: lightgrey;
    text-align: center;
    padding: 20px 20px 6px;
    letter-spacing: 1px;
    color:#000000;
    width: 100%;
}


/*FOOTER*/
.footer {
    font-family: "Montserrat", serif;
    background-color: #03111b;/**#000f1a*/
    color: #fbffcd;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

.footer .copy {
    text-align: center;
    font-size: 0.5cm;
    white-space: nowrap;
    line-height: 0cm;
}

.footer .contacto {
    text-align: center;
}

.footer .contacto a {
    text-decoration: none;
    line-height: 5rem;
    font-size: 0.5cm;
    color: #fbffcd;
    margin: 0 .5rem;
    letter-spacing: normal;
}

.footer .contacto a:hover {
    color: #79ae92;
}

.footer .share a:hover {
    background: var(--black);
}

/*HEADER*/

.sesion a {
    text-decoration: none;
    line-height: 5rem;
    font-size: 0.7cm;
    color: #fbffcd;
    margin: 0.5rem;
    letter-spacing: normal;
}

.sesion a:hover {
    color: #79ae92;
}

/*ICONOS*/
.icono a {
    text-decoration: none;
    line-height: 5rem;
    font-size: 0.7cm;
    color: #fbffcd;
    margin: 0.5rem;
    letter-spacing: normal;
}

.sesion a:hover {
    color: #79ae92;
}


/*CARRUSEL*/
.carousel-item img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}
.carousel-control-prev, .carousel-control-next{
    background-color:#1c5560;
    border-radius: 50%; 
    margin:310px 60px;
    width: 60px;
}

header {
    margin-bottom: 0; 
}

.carousel {
    margin-top: 0; 
}

/*MENUS*/

.card {
  width: 100%; 
  margin-bottom: 20px; 
}

.card-body {
  background-color: #f8f9fa; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  transition: transform 0.2s; 
}

.card-body:hover {
  transform: scale(1.05); 
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin-bottom: 15px; 
  color: #1c5560; 
  text-decoration: none;
}


.card-body .btn {
  margin-right: 10px; 
}

.card-body .btn-primary {
  background-color: #79ae92;
  border-color: #1c5560; 
}

.card-body .btn-primary:hover {
  background-color: #5a9d7a; 
  border-color: #145a5f; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.card-body .btn-danger {
  background-color: #dc3545;
  border-color: #d33142; 
}

.card-body .btn-danger:hover {
  background-color: #c82333; 
  border-color: #bd2130; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


#listaMenus {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  margin: 0; 
  padding: 0; 
}